<h1 style="color: red; font-family: 'Times New Roman'; font-size: 36px; text-align: center; text-decoration: underline;">
    Python avanc√© 
</h1>

<h3 style="color:#428ef4; font-family: 'Times New Roman'; font-size: 30px; text-align: center;">
   Probl√®me : Analyse d'un Grand Ensemble de Donn√©es de Ventes
</h3>

<h3 style="font-family: 'Times New Roman'; font-size: 30px; text-align: center;">
   AYA AMAL 
</h3>

<div style="font-family: 'Times New Roman';color: blue;">
    
## **1. √âchantillonnage et Sous-ensemble de Donn√©es**


-------
    
> _**` Chargez un √©chantillon al√©atoire de 1 % des lignes du fichier sales_data.csv.`**_

-------

In [1]:
import pandas as pd

In [3]:
df_sample = pd.read_csv('sales_data.csv', nrows=1000000)  # Charger 1 million de lignes
df_sample = df_sample.sample(frac=0.01, random_state=42)  # √âchantillon de 1%

<div style="font-family: 'Times New Roman';">

 **Explication:**  

1) Charger les premi√®res 1 million de lignes du fichier `sales_data.csv` pour *√©viter de surcharger la m√©moire* si le fichier est `trop grand.`:  
   + `df_sample = pd.read_csv('sales_data.csv', nrows=1000000)`  
     - On charge le fichier CSV `sales_data.csv` dans un DataFrame.  
     - Le param√®tre `nrows=1000000` indique de charger 1 million de lignes.  

2) R√©duire les donn√©es √† un sous-ensemble repr√©sentatif pour effectuer des analyses rapides ou pour simplifier le traitement tout en conservant une distribution al√©atoire:  
   + `df_sample.sample()` : Cette m√©thode est utilis√©e pour s√©lectionner un √©chantillon al√©atoire de lignes √† partir du DataFrame `df_sample`.  
   + `frac=0.01` : Cela sp√©cifie que 1% des donn√©es du DataFrame doivent √™tre s√©lectionn√©es. Par exemple, si le DataFrame contient 1 million de lignes, il s√©lectionnera 10,000 lignes.  
   + `random_state=42` : Ce param√®tre fixe la graine al√©atoire pour garantir que les r√©sultats sont reproductibles. Si vous r√©ex√©cutez le code avec le m√™me `random_state`, vous obtiendrez le m√™me √©chantillon.  

</div>


-----
>_**`S√©lectionnez uniquement les colonnes customer_id, product_id, quantity, et price.`**_

------

In [4]:
df_sample = df_sample[['customer_id', 'product_id', 'quantity', 'price']]

<div style="font-family: 'Times New Roman';"> 
    
**Explication:**
- On s√©lectionne uniquement les colonnes n√©cessaires pour r√©duire la taille des donn√©es.

-----    
    
  > _**`Sp√©cifiez les types de donn√©es appropri√©s pour chaque colonne afin de r√©duire la consommation de m√©moire.`**_

------

In [6]:
# Sp√©cifier les types de donn√©es pour r√©duire la m√©moire
df_sample['customer_id'] = df_sample['customer_id'].astype('int32')
df_sample['product_id'] = df_sample['product_id'].astype('int32')
df_sample['quantity'] = df_sample['quantity'].astype('int16')
df_sample['price'] = df_sample['price'].astype('float32')

print(df_sample.head())

        customer_id  product_id  quantity       price
987231        88263        3439         4  221.270004
79954         46796        3185         1   53.209999
567130        77686        7024         9  474.829987
500891        26723        5717         4  149.539993
55399         55299        5463         3   51.570000

<div style="font-family: 'Times New Roman';"> 
    
### Conversion des types de donn√©es pour r√©duire la m√©moire

- **`df_sample['customer_id'] = df_sample['customer_id'].astype('int32')`** :
  - On convertit la colonne `customer_id` en type `int32` pour r√©duire l'utilisation de m√©moire (au lieu de `int64` par d√©faut).

- **`df_sample['product_id'] = df_sample['product_id'].astype('int32')`** :
  - M√™me chose pour `product_id`.

- **`df_sample['quantity'] = df_sample['quantity'].astype('int16')`** :
  - On convertit `quantity` en `int16` car les quantit√©s sont petites (entre 1 et 10).

- **`df_sample['price'] = df_sample['price'].astype('float32')`** :
  - On convertit `price` en `float32` pour r√©duire la m√©moire (au lieu de `float64`).

- **`print(df_sample.head())`** :
  - On affiche les 5 premi√®res lignes du DataFrame pour v√©rifier les donn√©es.

<div style="font-family: 'Times New Roman';color: blue;">
    
## **2. Conversion en Formats de Fichiers Efficaces**


-----    
    
  > _**`Convertissez l'√©chantillon de donn√©es charg√© en format Feather et Parquet.`**_

------

In [7]:
# pip install pandas pyarrow

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: pyarrow in c:\users\user\anaconda3\lib\site-packages (14.0.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
# Convertir en format Feather
df_sample.to_feather('sales_sample.feather')
print("Fichier Feather 'sales_sample.feather' sauvegard√© avec succ√®s.")

Fichier Feather 'sales_sample.feather' sauvegard√© avec succ√®s.

<div style="font-family: 'Times New Roman';">
    
### **Explication du code**
- **Code** :
  ```python
  df_sample.to_feather('sales_sample.feather'):
  + Convertit le DataFrame df_sample en format Feather et le sauvegarde dans un fichier nomm√© sales_sample.feather.
  
<span style="color: green;"> üìå Feather est un format binaire qui permet une lecture/√©criture tr√®s rapide, id√©al pour des √©changes de donn√©es entre Python et d'autres langages comme R.</span>

In [10]:
# Convertir en format Parquet
df_sample.to_parquet('sales_sample.parquet')
print("Fichier Parquet 'sales_sample.parquet' sauvegard√© avec succ√®s.")

Fichier Parquet 'sales_sample.parquet' sauvegard√© avec succ√®s.

<div style="font-family: 'Times New Roman';">
    
### **Explication :**

#### **Conversion du DataFrame en format Parquet**
- **Code** :
  ```python
  df_sample.to_parquet('sales_sample.parquet')
+ Convertit le DataFrame df_sample en format Parquet et le sauvegarde dans un fichier nomm√© sales_sample.parquet.

<span style="color: green;"> üìå Parquet est un format colonnaire qui permet une compression efficace et une lecture rapide, surtout pour les grands ensembles de donn√©es.</span>


-----    
    
  > _**`Comparez la taille des fichiers r√©sultants avec celle du fichier CSV d'origine.`**_

------

In [11]:
import os

# Obtenir la taille des fichiers
feather_size = os.path.getsize('sales_sample.feather')
parquet_size = os.path.getsize('sales_sample.parquet')
csv_size = os.path.getsize('sales_data.csv')  # Taille du fichier CSV d'origine

# Afficher les tailles
print(f"Taille du fichier Feather: {feather_size} octets")
print(f"Taille du fichier Parquet: {parquet_size} octets")
print(f"Taille du fichier CSV: {csv_size} octets")

Taille du fichier Feather: 178282 octets
Taille du fichier Parquet: 227171 octets
Taille du fichier CSV: 47976227 octets

<div style="font-family: 'Times New Roman';">
    
### **R√©sultats :**

- <span style="color: green;"> **Le fichier Feather** </span>sera g√©n√©ralement plus petit que le CSV, mais plus grand que le Parquet.
- <span style="color: green;">**Le fichier Parquet** </span>sera le plus petit gr√¢ce √† sa compression efficace.

-----    
    
  > _**`Mesurez le temps de chargement pour chaque format et expliquez les diff√©rences.`**_

------

In [14]:
import time

# Mesurer le temps de chargement pour Feather
start_time = time.time()
df_feather = pd.read_feather('sales_sample.feather')
feather_load_time = time.time() - start_time

# Mesurer le temps de chargement pour Parquet
start_time = time.time()
df_parquet = pd.read_parquet('sales_sample.parquet')
parquet_load_time = time.time() - start_time
# Mesurer le temps de chargement pour CSV
start_time = time.time()
df_csv = pd.read_csv('sales_data.csv')
csv_load_time = time.time() - start_time

# Afficher les temps de chargement
print(f"Temps de chargement Feather: {feather_load_time:.4f} secondes")
print(f"Temps de chargement Parquet: {parquet_load_time:.4f} secondes")
print(f"Temps de chargement CSV: {csv_load_time:.4f} secondes")

Temps de chargement Feather: 0.0051 secondes
Temps de chargement Parquet: 0.0066 secondes
Temps de chargement CSV: 0.5882 secondes

<div style="font-family: 'Times New Roman';">

### **Les diff√©rences de temps de chargement entre Feather, Parquet et CSV**

Les diff√©rences de temps de chargement entre **Feather**, **Parquet** et **CSV** s'expliquent par leurs formats et leurs optimisations :

- <span style="color: green;">**Feather (0.0051 s)** : </span>
  - Format binaire optimis√© pour la vitesse, **sans compression**.
  - Id√©al pour des **√©changes rapides** de donn√©es.

- <span style="color: green;">**Parquet (0.0066 s)** :</span>
  - Format binaire **compress√©**, l√©g√®rement plus lent que Feather mais efficace pour le stockage.
  - Parfait pour les **grands ensembles de donn√©es**.

- <span style="color: green;">**CSV (0.5882 s)** :</span>
  - Format texte, **lent** car il n√©cessite une analyse et une conversion des donn√©es.
  - Universel, mais **peu performant**.

---

### **En r√©sum√© :**

- <span style="color: green;">**Feather** :</span> Rapide, pas de compression.
- <span style="color: green;">**Parquet** :</span> Rapide et compress√©, id√©al pour le stockage.
- <span style="color: green;">**CSV** : </span>Lent, mais universel et facile √† utiliser.

</div>

<div style="font-family: 'Times New Roman';color: blue;">

## **3. Utilisation de HDF5**

-----    
    
  > _**`Cr√©ez un fichier HDF5 (sales_data.h5) et stockez l'√©chantillon de donn√©es dans une table appel√©e sales_sample.`**_

------

In [15]:
#pip install h5py

Requirement already satisfied: h5py in c:\users\user\anaconda3\lib\site-packages (3.11.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from h5py) (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [16]:
# Cr√©er un fichier HDF5 et stocker l'√©chantillon de donn√©es
with pd.HDFStore('sales_data.h5') as store:
    store.put('sales_sample', df_sample)

print("Fichier HDF5 'sales_data.h5' cr√©√© avec succ√®s.")
print("Les donn√©es ont √©t√© stock√©es dans la table 'sales_sample'.")

Fichier HDF5 'sales_data.h5' cr√©√© avec succ√®s.
Les donn√©es ont √©t√© stock√©es dans la table 'sales_sample'.

<div style="font-family: 'Times New Roman';">

### **Explication ligne par ligne :**

1. **`import pandas as pd`** :
   - On importe la biblioth√®que **pandas** pour manipuler les donn√©es.

2. **`with pd.HDFStore('sales_data.h5') as store:`** :
   - On cr√©e un fichier **HDF5** nomm√© `sales_data.h5` et on l'ouvre en mode √©criture.
   - Le mot-cl√© **`with`** garantit que le fichier sera correctement ferm√© apr√®s utilisation.

3. **`store.put('sales_sample', df_sample)`** :
   - On stocke le DataFrame **`df_sample`** dans une table nomm√©e **`sales_sample`** √† l'int√©rieur du fichier HDF5.
   - La m√©thode **`put`** permet d'ajouter des donn√©es √† une table sp√©cifique.

4. **`print("Fichier HDF5 'sales_data.h5' cr√©√© avec succ√®s.")`** :
   - On affiche un message pour confirmer que le fichier HDF5 a √©t√© cr√©√©.

5. **`print("Les donn√©es ont √©t√© stock√©es dans la table 'sales_sample'.")`** :
   - On affiche un message pour confirmer que les donn√©es ont √©t√© stock√©es dans la table **`sales_sample`**.

</div>

In [18]:
# Filtrer les transactions avec un prix > 100 DH
df_high_price = df_sample[df_sample['price'] > 100]

# Ajouter cette table au fichier HDF5
with pd.HDFStore('sales_data.h5') as store:
    store.put('high_price_transactions', df_high_price)

print("Table 'high_price_transactions' ajout√©e avec succ√®s.")

Table 'high_price_transactions' ajout√©e avec succ√®s.

In [19]:
# Lire les donn√©es de la table 'sales_sample' dans le fichier HDF5
with pd.HDFStore('sales_data.h5') as store:
    df_sales_sample = store['sales_sample']

# Afficher les 5 premi√®res lignes
print("Aper√ßu des donn√©es de la table 'sales_sample':")
print(df_sales_sample.head())

Aper√ßu des donn√©es de la table 'sales_sample':
        customer_id  product_id  quantity       price
987231        88263        3439         4  221.270004
79954         46796        3185         1   53.209999
567130        77686        7024         9  474.829987
500891        26723        5717         4  149.539993
55399         55299        5463         3   51.570000


<div style="font-family: 'Times New Roman';color: blue;">

## **4. Lecture par Morceaux**

In [20]:
# D√©finir la taille d'un morceau (chunk)
chunk_size = 100000

# Lire le fichier CSV par morceaux
for chunk in pd.read_csv('sales_data.csv', chunksize=chunk_size):
    # Traiter chaque morceau ici
    print(f"Morceau de {len(chunk)} lignes charg√© :")
    print(chunk.head())  # Afficher les 5 premi√®res lignes du morceau
    print("\n---\n")

Morceau de 100000 lignes charg√© :
   transaction_id  customer_id  product_id  quantity   price transaction_date  \
0               1        15796         111         7  336.48       2023-10-03
1               2          861        3214         3  471.86       2022-06-01
2               3        76821        3079         5  473.96       2023-09-20
3               4        54887        9037         4  466.34       2020-12-11
4               5         6266        7572         7   39.62       2023-07-04

          region
0  North America
1      Australia
2         Europe
3         Europe
4  North America

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
100000          100001        26688        2350         6  411.01
100001          100002        82651        6569         4   28.28
100002          100003        95529        3075         3  473.58
100003          100004        37961        4113         3  121.89
100004          100005        17348        8932         4  381.50

       transaction_date         region
100000       2020-12-19           Asia
100001       2021-01-12  North America
100002       2023-05-01  South America
100003       2021-08-12         Africa
100004       2023-06-27           Asia

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
200000          200001         5281        8352         3  358.37
200001          200002        21269        7602        10  256.24
200002          200003        46192        4928         2  225.66
200003          200004        35122        2967         2  469.70
200004          200005        45523        1702         2  464.47

       transaction_date         region
200000       2023-03-15         Europe
200001       2023-03-28  North America
200002       2020-08-03  South America
200003       2022-02-17      Australia
200004       2020-04-05         Africa

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
300000          300001        29425        7103         7   61.46
300001          300002        63189         142        10  318.43
300002          300003        98556        2543         9  126.86
300003          300004         6216        2423         6  212.25
300004          300005        80884        5973         4  497.28

       transaction_date     region
300000       2020-11-22  Australia
300001       2021-05-24     Africa
300002       2021-11-25       Asia
300003       2021-02-16       Asia
300004       2023-06-11  Australia

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
400000          400001        83327        6417         6  264.67
400001          400002        59030        4402         8  377.39
400002          400003        32472        1261         5  150.68
400003          400004        36044        9287         9   90.76
400004          400005        45561         148         8   47.40

       transaction_date         region
400000       2021-09-05  North America
400001       2021-02-10         Africa
400002       2021-09-04           Asia
400003       2022-12-04           Asia
400004       2023-12-06      Australia

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
500000          500001        94057        3667         9  164.03
500001          500002        42540        4839         9  409.02
500002          500003        32244        6169         8   12.66
500003          500004        12959        4126        10  432.48
500004          500005          963        4892         2  154.58

       transaction_date         region
500000       2023-10-18      Australia
500001       2023-07-31         Africa
500002       2023-03-18           Asia
500003       2022-02-10         Africa
500004       2020-06-06  South America

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
600000          600001        51996        3201         7  428.64
600001          600002        12891        5002         4  291.13
600002          600003        48576        1172         4   31.08
600003          600004        58686        6848         4  307.50
600004          600005        81456        1757         8  474.64

       transaction_date         region
600000       2023-11-21           Asia
600001       2022-06-13  South America
600002       2021-10-03      Australia
600003       2023-07-04  South America
600004       2021-02-01      Australia

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
700000          700001        14799        8276         5  472.77
700001          700002        25649        8404         4  325.04
700002          700003        25893        6900         3  421.77
700003          700004        39239        7688         9   72.64
700004          700005        22779         677         4  329.95

       transaction_date         region
700000       2021-03-09         Africa
700001       2021-06-02         Europe
700002       2020-09-24  South America
700003       2021-05-04  South America
700004       2022-04-01         Europe

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
800000          800001        50529        4176         7  235.13
800001          800002        15569        6321         4  207.80
800002          800003        19938        5817         8  147.13
800003          800004        90158        7050         5  204.60
800004          800005        72086        2039        10   14.68

       transaction_date         region
800000       2020-11-02  North America
800001       2020-07-05         Europe
800002       2021-04-02           Asia
800003       2020-02-03         Europe
800004       2020-06-20  North America

---

Morceau de 100000 lignes charg√© :
        transaction_id  customer_id  product_id  quantity   price  \
900000          900001        90363        4451         5  267.32
900001          900002        34240        1424         9  119.30
900002          900003        61863        8852        10  174.99
900003          900004        40689        8541         9   46.03
900004          900005        97204        5066         9  382.34

       transaction_date         region
900000       2020-02-03  North America
900001       2022-10-11         Europe
900002       2020-10-10         Europe
900003       2020-02-01      Australia
900004       2023-08-29  North America

---

<div style="font-family: 'Times New Roman';">

### **Explication ligne par ligne :**

1. **`import pandas as pd`** :
   - On importe la biblioth√®que **pandas** pour manipuler les donn√©es.

2. **`chunk_size = 100000`** :
   - On d√©finit la taille d'un morceau √† **100 000 lignes**.

3. **`for chunk in pd.read_csv('sales_data.csv', chunksize=chunk_size):`** :
   - On lit le fichier CSV **`sales_data.csv`** par morceaux de **100 000 lignes**.
   - Le param√®tre **`chunksize`** permet de diviser le fichier en morceaux de la taille sp√©cifi√©e.
   - Chaque morceau est un **DataFrame** contenant **100 000 lignes** (ou moins pour le dernier morceau).

4. **`print(f"Morceau de {len(chunk)} lignes charg√© :")`** :
   - On affiche le nombre de lignes dans le morceau actuel.

5. **`print(chunk.head())`** :
   - On affiche les **5 premi√®res lignes** du morceau pour v√©rifier les donn√©es.

6. **`print("\n---\n")`** :
   - On ajoute une **s√©paration visuelle** entre les morceaux.

</div>

In [28]:
# D√©finir la taille d'un morceau (chunk)
chunk_size = 100000

# Initialiser une liste pour stocker les r√©sultats filtr√©s
filtered_chunks = []

# Lire le fichier CSV par morceaux
for chunk in pd.read_csv('sales_data.csv', chunksize=chunk_size):
    # Filtrer les transactions avec une quantit√© > 10
    filtered_chunk = chunk[chunk['quantity'] > 10]
    
    # Ajouter le morceau filtr√© √† la liste
    filtered_chunks.append(filtered_chunk)

# Combiner tous les morceaux filtr√©s en un seul DataFrame
df_filtered = pd.concat(filtered_chunks)

# Afficher les 5 premi√®res lignes du r√©sultat final
print("Transactions avec une quantit√© > 10 :")
print(df_filtered.head())

# Afficher le nombre total de transactions filtr√©es
print(f"Nombre total de transactions avec une quantit√© > 10 : {len(df_filtered)}")

Transactions avec une quantit√© > 10 :
Empty DataFrame
Columns: [transaction_id, customer_id, product_id, quantity, price, transaction_date, region]
Index: []
Nombre total de transactions avec une quantit√© > 10 : 0

<div style="font-family: 'Times New Roman';color:red;">

### Le r√©sultat indique qu'il n'y a aucune transaction dans le fichier sales_data.csv ayant une quantit√© sup√©rieure √† 10.

</div>

In [22]:
# Charger les 10 premi√®res lignes du fichier CSV
df_sample = pd.read_csv('sales_data.csv', nrows=10)

# Afficher les donn√©es
print("Aper√ßu des donn√©es :")
print(df_sample)

Aper√ßu des donn√©es :
   transaction_id  customer_id  product_id  quantity   price transaction_date  \
0               1        15796         111         7  336.48       2023-10-03
1               2          861        3214         3  471.86       2022-06-01
2               3        76821        3079         5  473.96       2023-09-20
3               4        54887        9037         4  466.34       2020-12-11
4               5         6266        7572         7   39.62       2023-07-04
5               6        82387        9041         6   60.97       2021-11-26
6               7        37195         371         1  491.98       2020-11-05
7               8        87499        4566         2  497.23       2021-08-17
8               9        44132        1056         5  405.97       2020-06-16
9              10        60264         448         3   91.68       2020-12-11

          region
0  North America
1      Australia
2         Europe
3         Europe
4  North America
5  North America
6  North America
7      Australia
8         Europe
9         Africa

In [29]:
df_sample.head()

,transaction_id,customer_id,product_id,quantity,price,transaction_date,region
0,1,15796,111,7,336.48,2023-10-03,North America
1,2,861,3214,3,471.86,2022-06-01,Australia
2,3,76821,3079,5,473.96,2023-09-20,Europe
3,4,54887,9037,4,466.34,2020-12-11,Europe
4,5,6266,7572,7,39.62,2023-07-04,North America

In [30]:
# Combiner tous les morceaux filtr√©s en un seul DataFrame
df_filtered = pd.concat(filtered_chunks)

# Afficher les 5 premi√®res lignes du r√©sultat final
print("Transactions avec une quantit√© > 10 :")
print(df_filtered.head())

# Afficher le nombre total de transactions filtr√©es
print(f"Nombre total de transactions avec une quantit√© > 10 : {len(df_filtered)}")

Transactions avec une quantit√© > 10 :
Empty DataFrame
Columns: [transaction_id, customer_id, product_id, quantity, price, transaction_date, region]
Index: []
Nombre total de transactions avec une quantit√© > 10 : 0

In [31]:
# Calculer le total des ventes pour les transactions filtr√©es
total_sales = (df_filtered['quantity'] * df_filtered['price']).sum()

# Afficher le total des ventes
print(f"Total des ventes pour les transactions avec une quantit√© > 10 : {total_sales:.2f} DH")

Total des ventes pour les transactions avec une quantit√© > 10 : 0.00 DH


<div style="font-family: 'Times New Roman';color: blue;">

## **5. Chargement dans une Base de Donn√©es**

In [32]:
import sqlite3

In [33]:
# Cr√©er une connexion √† la base de donn√©es SQLite 
conn = sqlite3.connect('sales.db')

In [35]:
# Charger le DataFrame dans la table 'sales'
df_sample.to_sql('sales', conn, if_exists='replace', index=False)

# Fermer la connexion √† la base de donn√©es
conn.close()

print("Base de donn√©es 'sales.db' cr√©√©e avec succ√®s.")
print("Les donn√©es ont √©t√© charg√©es dans la table 'sales'.")

Base de donn√©es 'sales.db' cr√©√©e avec succ√®s.
Les donn√©es ont √©t√© charg√©es dans la table 'sales'.

In [37]:
##V√©rifier les donn√©es dans la base de donn√©es
# Ouvrir une connexion √† la base de donn√©es
conn = sqlite3.connect('sales.db')

# Ex√©cuter une requ√™te SQL pour afficher les 5 premi√®res lignes de la table 'sales'
query = "SELECT * FROM sales LIMIT 5"
df_sample = pd.read_sql_query(query, conn)

# Afficher les donn√©es
print("Aper√ßu des donn√©es dans la table 'sales' :")
print(df_sample)

# Fermer la connexion √† la base de donn√©es
conn.close()

Aper√ßu des donn√©es dans la table 'sales' :
   transaction_id  customer_id  product_id  quantity   price transaction_date  \
0               1        15796         111         7  336.48       2023-10-03
1               2          861        3214         3  471.86       2022-06-01
2               3        76821        3079         5  473.96       2023-09-20
3               4        54887        9037         4  466.34       2020-12-11
4               5         6266        7572         7   39.62       2023-07-04

          region
0  North America
1      Australia
2         Europe
3         Europe
4  North America

In [39]:
# Utiliser un gestionnaire de contexte pour g√©rer la connexion
with sqlite3.connect('sales.db') as conn:
    # D√©finir la requ√™te SQL
    query = """
    SELECT * FROM sales
    WHERE region = 'Europe' AND price > 50
    """

    # Ex√©cuter la requ√™te et stocker les r√©sultats dans un DataFrame
    df_europe_high_price = pd.read_sql_query(query, conn)

    # Afficher les r√©sultats
    print("Transactions dans la r√©gion 'Europe' avec un prix > 50 DH :")
    print(df_europe_high_price)

    # Calculer le total des ventes pour les transactions filtr√©es
    total_sales = (df_europe_high_price['quantity'] * df_europe_high_price['price']).sum()

    # Afficher le total des ventes
    print(f"Total des ventes pour les transactions en 'Europe' avec un prix > 50 DH : {total_sales:.2f} DH")

Transactions dans la r√©gion 'Europe' avec un prix > 50 DH :
   transaction_id  customer_id  product_id  quantity   price transaction_date  \
0               3        76821        3079         5  473.96       2023-09-20
1               4        54887        9037         4  466.34       2020-12-11
2               9        44132        1056         5  405.97       2020-06-16

   region
0  Europe
1  Europe
2  Europe
Total des ventes pour les transactions en 'Europe' avec un prix > 50 DH : 6265.01 DH

<div style="font-family: 'Times New Roman';">
    
### Explication √©tape par √©tape :

+ ouverture du connexion √† la base de donn√©es sales.db. Le gestionnaire de contexte assure que la connexion est ferm√©e apr√®s lex√©cution du code.
    
* La requ√™te query s√©lectionne toutes les colonnes de la table sales pour les transactions dans la r√©gion 'Europe' o√π le prix est sup√©rieur √† 50 DH.
+ Ex√©cute la requ√™te SQL et place les r√©sultats dans un DataFrame pandas pour un traitement facile.
+ Affiche les transactions filtr√©es pour la r√©gion 'Europe' avec un prix sup√©rieur √† 50 DH.
+ Le total des ventes est affich√© avec une pr√©cision de deux d√©cimales gr√¢ce √† :.2f.


<div style="font-family: 'Times New Roman';color:red;">

_With, la connexion est automatiquement ferm√©e √† la fin du bloc, m√™me en cas d'erreur._

</div>

In [40]:
# Calculer le total des ventes pour ces transactions
total_sales = (df_europe_high_price['quantity'] * df_europe_high_price['price']).sum()

# Afficher le r√©sultat
print(f"Total des ventes pour les transactions en 'Europe' avec un prix > 50 DH : {total_sales:.2f} DH")

# Fermer la connexion √† la base de donn√©es
conn.close()

Total des ventes pour les transactions en 'Europe' avec un prix > 50 DH : 6265.01 DH

<div style="font-family: 'Times New Roman';">
    
## Explication simplifi√©e du code

- **Calcul du total des ventes :** Multiplie la quantit√© (`quantity`) par le prix (`price`) pour chaque transaction et additionne les valeurs avec `.sum()`.
- **Affichage du total des ventes :** Affiche le total des ventes format√© avec deux d√©cimales.
- **Fermeture de la connexion :** Ferme la connexion √† la base de donn√©es pour lib√©rer les ressources.

<div style="font-family: 'Times New Roman';color: blue;">

## **Questions sur les Techniques d'Analyse de Donn√©es de Ventes**

-----    
    
  >#### _**`√âchantillonnage et Sous-ensemble de Donn√©es `**_

------

<div style="font-family: 'Times New Roman';color: green;">

#### **1.Pourquoi est-il utile de charger un √©chantillon al√©atoire de donn√©es plut√¥t que l'ensemble complet ?**

<div style="font-family: 'Times New Roman';">
    
+ Parce que le fichier est trop gros pour √™tre charg√© en m√©moire en une seule fois. Un √©chantillon permet de faire des analyses plus rapidement et avec moins de m√©moire.

<div style="font-family: 'Times New Roman';color: green;">

#### **2.Comment la sp√©cification des types de donn√©es r√©duit-elle la consommation de m√©moire ?**

<div style="font-family: 'Times New Roman';">
    
+ La sp√©cification des types de donn√©es r√©duit la consommation de m√©moire en allouant uniquement l'espace n√©cessaire pour stocker les donn√©es. Par exemple, utiliser `int32` au lieu de `int64` divise par deux l'espace m√©moire utilis√©.

-----    
    
  >#### _**`Conversion en Formats de Fichiers Efficaces `**_

------

<div style="font-family: 'Times New Roman';color: green;">

#### **1.Quels sont les avantages des formats Feather et Parquet par rapport au format CSV ?**

<div style="font-family: 'Times New Roman';">
    
+ __Feather__ : Lecture et √©criture rapides, id√©al pour √©changer des donn√©es entre Python et R.

+ __Parquet__ : Compression efficace, lecture s√©lective de colonnes, id√©al pour le stockage de gros fichiers.

+ __CSV__ : Simple, mais lent et prend plus de place.

<div style="font-family: 'Times New Roman';color: green;">

#### **2.Dans quels cas pr√©f√©reriez-vous utiliser Feather plut√¥t que Parquet, et vice versa ?**

<div style="font-family: 'Times New Roman';">

+ __Feather__ : √Ä utiliser pour des √©changes rapides de donn√©es entre Python et R, ou pour des fichiers temporaires.
+ __Parquet__ : √Ä utiliser pour le stockage √† long terme de gros fichiers, surtout en Big Data, gr√¢ce √† sa compression et sa lecture s√©lective de colonnes.

-----    
    
  >#### _**`Utilisation de HDF5  `**_

------

<div style="font-family: 'Times New Roman';color: green;">

#### **1.Qu'est-ce qu'un fichier HDF5 et comment est-il structur√© ?**

<div style="font-family: 'Times New Roman';">
    
+ C'est un format de fichier pour stocker de grandes quantit√©s de donn√©es. Il est organis√© en groupes et datasets, comme un syst√®me de fichiers.

<div style="font-family: 'Times New Roman';color: green;">

#### **2.Pourquoi est-il utile de stocker des donn√©es dans un fichier HDF5 plut√¥t que dans un fichier CSV ?**

<div style="font-family: 'Times New Roman';">

+ Parce que HDF5 est plus efficace pour stocker et lire de gros fichiers, il supporte la compression et permet une lecture s√©lective des donn√©es.

-----    
    
  >#### _**`Lecture par Morceaux `**_

------

<div style="font-family: 'Times New Roman';color: green;">

#### **1.Pourquoi est-il n√©cessaire de lire un fichier volumineux par morceaux ?**

<div style="font-family: 'Times New Roman';">

+ Parce que le fichier est trop gros pour √™tre charg√© en m√©moire en une seule fois. Lire par morceaux permet de traiter les donn√©es sans saturer la m√©moire.

<div style="font-family: 'Times New Roman';color: green;">

#### **2.Comment pouvez-vous filtrer et combiner des donn√©es provenant de plusieurs morceaux ?**

<div style="font-family: 'Times New Roman';">
         
+ On lit le fichier par morceaux avec _`chunksize`_, on __`filtre chaque morceau`__, et on combine les r√©sultats avec `pd.concat().`


-----    
    
  >#### _**` Chargement dans une Base de Donn√©es `**_

------

<div style="font-family: 'Times New Roman';color: green;">

#### **1.Quels sont les avantages de stocker des donn√©es dans une base de donn√©es SQLite plut√¥t que dans un fichier CSV ?**

<div style="font-family: 'Times New Roman';">
    
+ __`SQLite`__ permet de faire des `requ√™tes SQL complexes` _(jointures, filtres, etc.)_ et est plus efficace pour __`les gros fichiers gr√¢ce √† l'indexation.`__

<div style="font-family: 'Times New Roman';color: green;">

#### **2.Comment pouvez-vous ex√©cuter des requ√™tes SQL sur une base de donn√©es SQLite √† partir de Python ?**

+ On utilise la biblioth√®que __`sqlite3`__ pour se connecter √† la base de donn√©es et ex√©cuter des requ√™tes SQL avec `cursor.execute().`